body{
  background-color: rgba(40, 222, 236, 0.85);
}
h1{
  padding-top: 200px;
  text-align: center;
  font-family: "Courier New", monospace;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000;
  font-size: 100px;
}
.menu{
  display: inline-block;
  background: rgb(40, 222, 236);
  margin-left: 40px;
  margin-right: 40px;
  width: 150px;
  height: 75px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-style: hidden;
  color: #FFF;
  font-family: "Arial", sans-serif;
  text-shadow: 1px 1px 1px #000;
  font-size: 20px;
  border-radius:2px;
  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: linear;
  text-decoration: none;

}
.menuText{
  text-align: center;
  vertical-align: middle;
}

#summary{
  margin-left: 300px;
}

.menu:hover{
  background:rgb(20, 202, 220);
}
